    <div class="welcome">
        <div class="welcome-content">
            Welcome to User Registration App
        </div>
    </div>
    <div class="container">
        <div class="tiles">
            <mat-card routerLink="/users">
                <mat-card-header>
                    <mat-card-title>User List</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://cdn1.iconfinder.com/data/icons/seo-flat-long-shadow-squares-1/512/Features-512.png" alt="list-logo">
                <mat-card-content>
                    <p>Click to view list of all registered user</p>
                </mat-card-content>
            </mat-card>
            <mat-card routerLink="/users/add">
                <mat-card-header>
                    <mat-card-title>Add User</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://static.vecteezy.com/system/resources/previews/000/376/489/original/add-user-vector-icon.jpg"
                    alt="add-logo">
                <mat-card-content>
                    <p>Click to register a user</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>