<div class="welcome">
    <div class="welcome-content">
        Welcome to User Registration App
    </div>
</div>
<div class="container">
    <div class="tiles">
                    <mat-card routerLink="/review">
                        <mat-card-header>
                            <mat-card-title>User Reviews</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="https://img.freepik.com/premium-vector/user-reviews-feedback-concept_441769-349.jpg"
                            alt="review-logo">
                        <mat-card-content>
                            <p>Click to view list of all registered user reviews</p>
                        </mat-card-content>
                    </mat-card>
    </div>
</div>
